/* new page */
div.activity-new {
    padding: 25px;
    h2.title {
        font-size: 25px;
        margin-bottom: 20px;
    }
}

/* edit page */
div.activity-edit {
    padding: 25px;
    h2.title {
        font-size: 25px;
        margin-bottom: 20px;
    }
}